body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-color: black;
}

#bg {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg img {
    margin: auto;
    height: auto;
    width: auto;
    max-width: 100vw;
    max-height: 75vw;
}

.back {
    position: relative;
    margin: auto;
    height: 20%;
    width: 10%;
    left: 69%;
    top: 69%;
}